config = {
    dev:{
        port: 3305,
        db: {
            user: 'admin',
            pass: 'admin',
            port: 777,
        },
        security: {
            minPasswordLength: 1,
            maxPasswordLength: 10,
        }
        cache: false,
        cachePeriod: 0,
    },
    prod: {
        port: 8000,
        db: {
            user: 'admin',
            pass: 'admin',
            port: 777,
        },
        security: {
            minPasswordLength: 1,
            maxPasswordLength: 10,
        }
        cache: false,
        cachePeriod: 0,
    }
}